.course-card {
  padding: 22px;
  border-radius: 16px;
  text-align: center;
  width: 250px;
  transition: 0.3s ease;

  /* ================= LIGHT MODE ================= */
  body.light & {
    background-color: white;
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.08);
  }

  /* ================= DARK MODE ================= */
  body.dark & {
    background-color: #111827;
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.6);
  }

  &:hover {
    transform: translateY(-6px);
  }

  .course-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 12px;
    margin-bottom: 12px;
  }

  h3 {
    font-size: 18px;
    margin-bottom: 10px;
    transition: 0.3s ease;

    body.light & {
      color: #111827;
    }

    body.dark & {
      color: #f9fafb;
    }
  }

  p {
    font-size: 14px;
    margin-bottom: 5px;
    transition: 0.3s ease;

    body.light & {
      color: #6b7280;
    }

    body.dark & {
      color: #9ca3af;
    }
  }
}